.spot-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;

}
.lat-lng {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#spotDescription {
    resize: vertical;
}

.error {
    color: red;
    padding: 5px;
}

.label-container {
    display: flex;
    align-items: center;
}