.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

#home-button {
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: #FF385C;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    
}