.hidden {
    display: none;
}
.dropdown-menu {
    background: none;
    border-radius: 25px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    right: 1em;

}

.profile-container {
    border: 1px solid black;
    border-radius: 3px;
    /* margin-right: 100px; */
    width: 10rem;
    /* left: 50%; */
    right: 10px;
    /* margin-right: 30px; */
    position: absolute;
    background-color: white;
}


    


.dropdown-button {
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-button:hover {
    text-decoration: underline;
}

/* .profile {
    
} */